h1, h2{
    font-family: 'Helvetica';
}

body{
    font-family: 'Helvetica';
    /* background-color: #271300; */
}

.description{
    font-size:1.3rem;
}

.frame{
    border: 0.1rem solid black;
    text-align: center;
    border-radius: 5%;
    /* object-fit: cover; */
}